@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #ededed;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  color: white;
  font-weight: 600;
  font-size: 25px;
}

.navbar a {
  text-decoration: none;
  color: #ededed;
  font-size: 18px;
  margin-left: 35px;
  transition: .3s;
  cursor: pointer;
}

.navbar a:hover {
  color: #00abf0;
}

.navbar a:target,
section:target + nav a {
  color: #00abf0;
}

.home {
  background-color: #081b29;
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 100vh;
  padding: 5% 10%;
}

.home-info {
  max-width: 600px;
}

.home-info h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
  
}

.home-info h3 {
  font-size: 30px;
  font-weight: 700;
  color: #00abf0;
}
 
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #081b29;
  background-color: #00abf0;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #fff;
  color: #081b29;
}

.soc-med a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50px;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.soc-med a:hover {
  color: #081b29;
}

.soc-med a::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: .5s;
}

.soc-med a:hover::before {
  width: 100%;
}

.Info {
  margin: 90px 0px;
  display: inline-block;
}

.button {
  margin-top: 10px;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
}

.button:hover {
  background-color: #ededed;
}

.Info h1 {
  margin-top: 20px;
}

.LOC {
  color: #00abf0;
}

.Info p {
  color: #00abf0;
  width: 700px;
}

.officers {
  margin: -600px 850px;
  width: 700px;
}

.officers h1 {
  font-size: 35px;
  font-weight: 800px;
}

.officers p {
  font-size: 25px;
  line-height: 2.5;
}

.names {
  color: #00abf0;
}